@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  background: rgb(204,204,204);
}

.A4 {
  font-family: 'Inconsolata', monospace;
  position: relative;
  padding: 1cm;
  background-color: green;
  width: 21cm;
  min-height: 29.7cm;
  /*height: 29.7cm;*/
  display: block;
  margin: 0 auto;
  /*margin-left: auto;
  margin-right: auto;*/
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.grid__invoice {
  position: relative;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 1cm;
  align-items: stretch;
  align-content: stretch;
  grid-template-areas:
    "grid__invoice-header grid__invoice-header"
    "grid__invoice-topleft grid__invoice-topright"
    "grid__invoice-mid grid__invoice-mid";
}

.grid__invoice-header {
  text-align: center;
  grid-area: grid__invoice-header;
}

.grid__invoice-header > h4 {
  margin-top: 0;
}

.grid__invoice-topleft {
  /*background-color: green;*/
  grid-area: grid__invoice-topleft;
}
.grid__invoice-topright {
  /*background-color: blue;*/
  grid-area: grid__invoice-topright;
}
.grid__invoice-mid {
  min-height: 20cm;
  /*background-color: red;*/
  grid-area: grid__invoice-mid;
}
.grid__invoice-bottom {
  align-self: stretch;
  /*position: absolute;
  bottom: 0;*/
  /*background-color: yellow;*/
  grid-area: grid__invoice-bottom;
}

.fixed__invoice-bottom {
  position: absolute;
  bottom: 0;
}

@media print {
  .A4 {
    padding: 0;
  }
  th {
    /*page-break-after: auto;*/
    page-break-inside: auto;
    page-break-before: always;
  }
  @page
  {
      size: auto;   /* auto is the initial value */
      /* this affects the margin in the printer settings */
      margin-left: 1cm;
      margin-right: 1cm;
      margin-top: 1cm;
      margin-bottom: 0;
  }

  html
  {
      background-color: #FFFFFF;
      margin: 0px;  /* this affects the margin on the html before sending to printer */
  }

  body
  {
      /*border: solid 1px blue ;*/
       /* margin you want for the content */
      /*margin: 10mm 15mm 10mm 15mm;*/
  }
}
