.App {
  /*text-align: center;*/
  height: 100vh;
}

.App main {
  /*width: 90%;*/
  /*margin: 0 auto;*/
  /*background-color: lightgrey;*/
}
#app__nav {
  height: 100vh;
  margin-bottom: 0;
  padding-top: 1.5rem;
  background-color: rgb(55, 55, 55);
  width: 15rem;
}

#app__main {
  padding: 1rem 3rem;
}
/*
#app__leftcolumn {
  background-color: rgb(27, 28, 29);
  margin-bottom: 0;
}

#app__rightcolumn {
  height: 100vh;
  overflow-y: auto;
}*/

.flex {
  display: flex;
  /*flex-wrap: wrap;*/
}

.flex--row {
  flex-direction: row;
}
.flex--column {
  flex-direction: column;
}

.flex > .segment + .segment {
  margin-top: 0;
}

.flex--grow {
  flex-grow: 1;
}

.flex--grow2 {
  flex-grow: 2;
}

.flex--jc-end {
  justify-content: flex-end;
}

.grid {
  display: grid;
}

.grid__modalbox {
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5em;
  grid-template-areas:
    "modalbox-header modalbox-header"
    "modalbox-searcharea modalbox-details";
}

.grid__modalbox-header {
  grid-area: modalbox-header;
}

.grid__modalbox-searcharea {
  grid-area: modalbox-searcharea;
}

.grid__modalbox-searchresult {
  height: 550px;
  overflow-y: auto;
}

.grid__modalbox-details {
  grid-area: modalbox-details;
}

.grid__invoice-new {
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
  /*grid-column-gap: 1.5em;*/
  grid-template-areas:
    "grid__invoice-new-search"
    "grid__invoice-new-results";
}
.grid__invoice-new-search {
  grid-area: grid__invoice-new-search;
}

.grid_invoice-new-results {
  grid-area: grid_invoice-new-results;
}

.block--inline {
  display: inline-block;
}

.table-cell--rel {
  position: relative
}

.table-cell__input {
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1em;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(30, 112, 191, 0.1);
}
